/* base */
html,
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-padding-top: 80px;
  font-family: 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft YaHei',
    sans-serif;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--o-color-bg2);
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--o-color-bg2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--o-color-division1);
  }
}

:root.dark {
  --el-color-primary: var(--o-color-kleinblue8);
}

*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

[tabindex] {
  outline: none;
}

a {
  cursor: pointer;
  color: var(--o-color-link1);
  text-decoration: none;
  &:hover {
    color: var(--o-color-link2);
  }
  &:active {
    color: var(--o-color-link3);
  }
}

blockquote,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
dd,
dl,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none outside none;
}
.overflow {
  overflow: hidden;
}
.hm-t-container {
  display: none;
}
body {
  .el-loading-spinner {
    position: absolute;
    margin: 0;
    top: 300px;
  }
}
.language-change.el-popper {
  box-shadow: var(--o-shadow-l1) !important;
  width: 120px;
  .el-dropdown-menu {
    background: none;
    padding: 0 20px;
    &__item {
      justify-content: center;
      line-height: 50px;
      border-bottom: 1px solid var(--o-color-division1);
      color: var(--o-color-text1);
      padding: 0;
      background: none !important;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: var(--o-color-brand1);
      }
      &.active {
        color: var(--o-color-brand1);
      }
    }
  }
  .el-popper__arrow {
    display: none;
  }
}
