:root {
  --o-mixedgray-1: 255, 255, 255;
  --o-mixedgray-9: 111, 111, 117;
  --o-color-primary1: var(--o-color-kleinblue6);
  --o-color-primary2: var(--o-color-kleinblue4);
  --o-shadow-1: 0 3px 8px rgba(var(--o-mixedgray-9), .08);
}